html,
body {

  margin: 0;
  width: 100%;
background-color: gray;
}

.main-container {
  width: 100%;
  height: 1080px;
  position: relative;

}
div {
  text-align: center;
}

.img-background {

  width: 40%;
  height: 30%;
  
  
}

h1 {
  width: 100%;
  
  position: absolute;
  font-size: 8vw;
  font-weight: bold;
  text-align: center;
  color: rebeccapurple;
margin-top: 50%;
  letter-spacing: 5px;
}

#clock {
  width: 100%;
  position: absolute;
  font-size: 9vw;
  color: rebeccapurple;
  text-align: center;
  margin-top: 60%;
}